<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Update Penduduk</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }

    hr{
      border-top: 1px solid black;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }
  </style>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">SI Kependudukan</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Cari Data</a></li>
      </ul>
    </div>
  </div>
</nav>
  
<div class="container-fluid text-center">    
  <div class="row content">
  <div class="col-sm-2 sidenav"></div>
    <div class="col-sm-8 text-left"> 
      <h3 th:text="'Update Penduduk'">Update Penduduk</h3>
      <br/>
     	<form th:action="'/penduduk/ubah/' + ${penduduk.nik}" method="POST" th:object="${penduduk}">
		  <div class="form-group">
		    <label for="nama">Masukkan nama:</label>
		    <input type="text" class="form-control" name="nama" th:value="${penduduk.nama}" required = "true"/>
		  </div>
		  <div class="form-group">
		    <label for="tempat_lahir">Tempat Lahir:</label>
		    <input type="text" class="form-control" name="tempat_lahir" th:value="${penduduk.tempat_lahir}" required = "true"/>
		  </div>
		  <div class="form-group">
		    <label for="tanggal_lahir">Tanggal Lahir:</label>
		    <input type="text" class="form-control" name="tanggal_lahir" th:value="${penduduk.tanggal_lahir}" placeholder="YYYY-MM-DD" required = "true"/>
		  </div>
		  <div class="form-group">
		      <label for="golongan_darah">Golongan Darah</label>
		      <select class="form-control" name="golongan_darah" th:value="${penduduk.golongan_darah == ('O−')}" th:field="*{golongan_darah}">
			      <option value="AB+" th:selected="${penduduk.golongan_darah.equals('AB+') ? 'selected' : ''}">AB+</option>
			      <option value="AB−" th:selected="${penduduk.golongan_darah == 'AB−' ? 'selected' : ''}">AB-</option>
			      <option value="A+" th:selected="${penduduk.golongan_darah == 'AB' ? 'selected' : ''}">A+</option>
			      <option value="A−" th:selected="${penduduk.golongan_darah == 'A−' ? 'selected' : ''}">A-</option>
			      <option value="B+" th:selected="${penduduk.golongan_darah == 'B+' ? 'selected' : ''}">B+</option>
			      <option value="B−" th:selected="${penduduk.golongan_darah == 'B−' ? 'selected' : ''}">B-</option>
			      <option value="O+" th:selected="${penduduk.golongan_darah == 'O+' ? 'selected' : ''}">O+</option>
			      <option value="O−" th:selected="${penduduk.golongan_darah.equals('O−') ? 'selected' : ''}">O-</option>
			  </select>
	      </div>
		  <div class="form-group">
		    <label for="agama">Agama:</label>
		    <input type="text" class="form-control" name="agama" th:value="${penduduk.agama}" required = "true"/>
		  </div>
		  <div class="form-group">
		      <label for="status_perkawinan">Status Perkawinan</label>
		      <select class="form-control" name="status_perkawinan" th:value="${penduduk.status_perkawinan}" th:field="*{status_perkawinan}">
			      <option value="Kawin" th:selected="${penduduk.status_perkawinan == 'Kawin' ? 'selected' : ''}">Kawin</option>
			      <option value="Belum Kawin" th:selected="${penduduk.status_perkawinan == 'Belum Kawin' ? 'selected' : ''}">Belum Kawin</option>
			  </select>
	      </div>
	      <div class="form-group">
		    <label for="pekerjaan">Pekerjaan:</label>
		    <input type="text" class="form-control" name="pekerjaan" th:value="${penduduk.pekerjaan}" required = "true"/>
		  </div>
		  <div class="form-group">
		    <label for="kewarganegaraan">Kewarganegaraan:</label>
		    <select class="form-control" name="is_wni" th:value="${penduduk.is_wni}" th:field="*{is_wni}">
		      <option value="1" th:selected="${penduduk.is_wni == '1' ? 'selected' : ''}">WNI</option>
		      <option value="0" th:selected="${penduduk.is_wni == '0' ? 'selected' : ''}">WNA</option>
		    </select>
		  </div>
		  <div class="form-group">
		      <label for="status_kematian">Status Kematian:</label>
		      <select class="form-control" name="is_wafat" th:value="${penduduk.is_wafat}" th:field="*{is_wafat}">
			      <option value="0" th:selected="${penduduk.is_wafat == '0' ? 'selected' : ''}">Hidup</option>
			      <option value="1" th:selected="${penduduk.is_wafat == '1' ? 'selected' : ''}">Wafat</option>
			  </select>
	      </div>
	      <div class="form-group">
		    <label for="id_keluarga">ID Keluarga:</label>
		    <input type="text" class="form-control" name="id_keluarga" th:value="${penduduk.id_keluarga}" required = "true"/>
		  </div>
		  <button name="action" type="submit" class="btn btn-primary">Ubah</button>
		</form>
		<br/>
    </div>
  </div>
</div>
</body>
</html>